	<div id="home_page">
  <h1>Welcome, <%= current_user.name %>!</h1>
  <div id="home_page_options">
    <a id="view_properties" href="/properties">View Properties</a>
    <a class="list_exercise" href="/properties/new">List A Property</a>
    <br>
    <a id="logout_link" href="/logout"><strong>Log out</strong></a><br>
  </div>
</div>