	<a href="/">Welcome Page</a>
    <br>

    <h1>Login</h1>
    <form action="/login" method="POST">
    <label>Email: </label>
    <input type="text" name="email"> <br>
    <label>Password</label>
    <input type="password" name="password"><br>
    <br>
    <input type="submit" value="Submit" id="submit" class="submit-button" >
</form>