<h1>All Properties</h1>

<% @properties.each do |property| %>
    <h2><%= property.address %></h2>
    <h3>Description: <%= property.description %></h3>
    <h3>Rent: $<%= property.rent %>/month</h3>
<% end %>