<h1> List a property: </h1>

<div class="container">
<form action="/properties" method="POST" id="survey-form">
    <label>Address: </label>
    <input type="text" name="address"><br>

    <label>Description: </label>
    <input type="text" name="description"><br>

    <label>Rent: </label>
    <input type="text" name="rent"><br>
    <br>
    <input type="submit" name="submit" id="submit" class="submit-button">
</form>
</div>