<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Property Manager</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1 id="title" class="text-center">Property Manager</h1>
      <p id="description" class="description text-center">
        Built for Landlords. List your properties, add tenants looking for homes, and manage them all in one place!
      </p>
    </header>

    <div class="container">

        <%= yield %>
      
    </div>
  </body>
</html>
